.category {
    @extend %clearfix;
    text-align: left;
    margin: 1em auto;
    ul {
        @include li-reset;
        li {
            margin: 0px 3px 3px 0px;
            display: block;
            float: left;
            font-size: 1.063em;
        }
    }
    a {
        border: 1px solid rgb(255, 130, 15);
        padding: .4em 1em;
        display: block;
        
        box-sizing: border-box;
        border-radius:4px;
         background: rgb(255, 130, 15);
                background: linear-gradient(180deg, rgba(255, 130, 15, 1) 0%, rgba(246, 104, 0, 1) 100%);
                color: $primaryColor;
        &:hover,
        &:focus {
            color: #FFF;
            background: darken($primaryColor, 15);
            border: 1px solid darken($primaryColor, 15);
            box-shadow: none;
        }
        &.active {
            color: #FFF;
            @include gradient(darken($primaryColor, 0), darken($primaryColor, 15), vertical);
        }
        span {
            font-size: .813em;
            &:before {
                content: "(";
                display: inline-block;
            }
            &:after {
                content: ")";
                display: inline-block;
            }
        }
    }
}